bin/
obj/
.vs/
*.user
*.suo
*.log
appsettings.Development.json
appsettings.Production.json
node_modules/
.env
.angular/
dist/
backend/Freelance.Api/*.db-shm
backend/Freelance.Api/*.db-wal
backend/Freelance.Api/*.backup-*.db
